<!-- The 'temp' folder is created for one-off pages that otherwise don't fit into the rest of your site structure/templates (eg, promotional pages that would require a short ULR). The permalink for temp pages is set /:title/ (see config.toml) rather than using the filename for the slug. With the default settings, you don't need to create a list page for temp files.

The partials below assumes temp pages will include the same chrome (ie, site head, site header, and site footer) as the rest of the site. If you plan on creating temp pages as stand-alone HTML files (ie, with <head>, doc declaration, etc), you can create the temp page as an .md and then remove both partials below.) 

NOTE: Temp pages permalink are set to the title of the markdown in config.toml. This is different from the rest of the starter, which assumes that the url/slug will mirror the filename (eg, "posts/my-first-post.md" will render at "mysite.com/posts/my-first-post/"). If you would like the permalink to reflect the filename rather than the "title", change temp = "/:title/" to temp = "/:filename/" in config.toml-->
{{ partial "site_head.html" . }}

{{.Content}}

{{ partial "site_footer.html" . }}