@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'modules/mixins';
@import 'modules/reset';
@import 'modules/base';
@import 'modules/layout';
@import 'modules/font-face';
@import 'modules/fontawesome';
@import 'modules/typography';
@import 'modules/social-media';
@import 'modules/fontawesome-anchor-helpers';
@import 'modules/animate';

/*** Delete the following. Disposable styling for the included homepage (layouts/index.html) in Hugo-starter.***/

.site-header {
    @include fill-parent;
    z-index: 1;
    position: relative;
}

.main {
    position: relative;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $footer-height;
    z-index: 1;
    a {
        color: #01589B;
    }
    article {
        padding-top: 0px;
        margin-top: 0px;
        background-color: $body-background;
    }
}

.site-footer {
    position: absolute;
    width:100%;
    height: $footer-height;
    left: 0px;
    bottom: 0px;
    ul {
        li {
            display: inline;
        }
    }
}


span.dropcap {
    float: left;
    color: $accent-color;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    padding-bottom: -5px;
    font-family: Georgia;
}

aside.social-share {
    width:100%;
    float:right;
    text-align:center;
    h5 {
        font-size:.7em;
        display:inline;
        text-align:center;
        font-weight:100;
        color:lighten($base-font-color,35%);
    }
    ul li {
        display: inline;
        margin:5px;
    }
}

ul.article-tags {
    display:inline;
    li {
        display:inline;
        a{
            font-weight:normal;
            color:white;
            background-color:$base-font-color;
            padding:3px;
        }
    }
}

svg.icon {
    max-width: 2rem;
    max-height: 2rem;
    padding: 0px;
    border: none;
    border-radius:5px;
}

ul.site-footer-social {
    li {
        display: inline;
    }
}