{{ partial "site_head.html" . }}
<!-- Simple starter layout for your single content files. Delete if needed.  -->
<main class="main">
	<article>
		<header>
			<h1>{{.Title}}</h1>
			<p>{{.Description}}</p>
				{{ partial "breadcrumb.html" . }}
		</header>
		{{ .Content }}
	</article>
	<!-- This sample single layout shows how to set up disqus_comments conditionals at both the Site Param and Page Param level.  -->
	{{if and .Params.comments .Site.Params.UseDisqus }}
		{{ partial "disqus_comments.html" . }}
	{{ end }}
</main>
{{ partial "site_footer.html" . }}
