{{ partial "site_header.html" . }}
<!-- STARTER LIST PAGE for tags taxonomy. -->
<main class="main">
	<article>
	<header>
		{{ $data := .Data }}
		<a href="/{{$data.Plural}}/" title="See all site content by tag.">See all {{ $data.Plural }}</a>
		<h1>{{$data.Plural}}: {{ .Title }}</h1>
	</header>
	<ul>
	   <!-- Sorts pages by .PublishDate, with the most recent publish first.  -->
	    {{ range sort .Data.Pages "PublishDate" "desc" }}
	        <li><a href="{{.Permalink}}"><h1>{{ .Title }}</h1><time>{{ .PublishDate.Format "January 2, 2006" }}</time></a><p>{{ .Description }}</p></li>
	    {{ end }}
	</ul>
	</article>
</main>

{{ partial "site_footer.html" . }}