html {
    font-size: $base-font-size; //This will equal 1REM
    line-height: $base-line-height;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    background: $body-background;
    color: $base-font-color;
    position:relative;
    min-height:100%;
}

p {
    line-height: $base-line-height;
    margin-bottom: $base-font-size;
}

a {
    color: $anchor-color;
    font-weight: $anchor-weight;
    -webkit-transition: $anchor-transition;
    -moz-transition: $anchor-transition;
    transition: $anchor-transition;
}

em,i {
    font-style:italic;
    font-weight:inherit;
}

strong,b {
    font-weight:700;
}

blockquote {
    background:$blockquote-bg;
    padding-left:10px;
    margin-left:-10px;
    border-left:$blockquote-left-border;
    font-size:$blockquote-font-size;
    position:relative;
    font-family:$blockquote-font-family;
}
//This relates to the blockquote-styling-based-on-hyphen-position.js in assets/js/modules. This script finds the text after " - " in blockquote > p and wraps the remaining text in a <cite> tag for more specialized styling to show the source of the block quote (if necessary). Comment out or simply delete the javascript module and the following if you don't want to extend Markdown in this fashion.
blockquote cite {
    display:block;
    font-style:normal;
    font-size:.75em;
    position:absolute;
    right:5px;
    bottom:5px;
}

input[type=search]{
    background-color:$body-background;
    &:focus {
        outline:none;
        border:0px;
    }
    @include placeholder {
        color:$input-placeholder-text-color;
    }
}
