html {
    font-size: $base-font-size; //This will equal 1REM
    line-height: $base-line-height;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    background: $body-background;
    color: $base-font-color;
    position:relative;
    min-height:100%;
}

p {
    line-height: $base-line-height;
    margin-bottom: $base-font-size;
}

a {
    color: $anchor-color;
    font-weight: $anchor-weight;
    -webkit-transition: $anchor-transition;
    -moz-transition: $anchor-transition;
    transition: $anchor-transition;
}

em,i {
    font-style:italic;
    font-weight:inherit;
}

strong,b {
    font-weight:700;
}



input[type=search]{
    background-color:$body-background;
    &:focus {
        outline:none;
        border:0px;
    }
    @include placeholder {
        color:$input-placeholder-text-color;
    }
}
