//Convenient Brand Colors. Notice both color and fill are added so that classes can be added to embedded SVGs for quick styling.
$socials: (
facebook:#3b5998,
foursquare:#0072b1,
github:#AB5B50,
googleplus:#dd4b39,
instagram:#517fa4,
linkedin:#007bb6,
pinterest:#cb2027,
rss:#FF6600,
tumblr:#32506d,
twitter:#00aced,
vimeo:#aad450,
vine:#00bf8f,
wercker:#4C5D79,
youtube:#bb0000
);

@each $social,
$socialcolor in $socials {
    .#{$social}:hover {
        fill: $socialcolor;
        color: $socialcolor;
    }
}
