//HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    margin-bottom: 0px;
    display:block;
}

h1 {
    text-transform: $h1-text-transform;
    font-size: $h1-sm-screen;
    @include MQ(M) {
        font-size: $h1-m-screen;
    }
    @include MQ(L) {
        font-size: $h1-l-screen;
    }
}

h2 {
    text-transform: $h2-text-transform;
    font-size: $h2-sm-screen;
    @include MQ(M) {
        font-size: $h2-m-screen;
    }
    @include MQ(L) {
        font-size: $h2-l-screen;
    }
}

h3 {
    text-transform: $h3-text-transform;
    font-size: $h3-sm-screen;
    @include MQ(M) {
        font-size: $h3-m-screen;
    }
    @include MQ(L) {
        font-size: $h3-l-screen;
    }
}


h4 {
    text-transform: $h4-text-transform;
    font-size: $h4-sm-screen;
    @include MQ(M) {
        font-size: $h4-m-screen;
    }
    @include MQ(L) {
        font-size: $h4-l-screen;
    }
}

h5 {
    text-transform: $h5-text-transform;
    font-size: $h5-sm-screen;
    @include MQ(M) {
        font-size: $h5-m-screen;
    }
    @include MQ(L) {
        font-size: $h5-l-screen;
    }
}
