<ul class="site-footer-social">
	{{if .Site.Params.Twitter }}
	<li>
		<a href="{{.Site.Params.Twitter}}" target="_blank" title="Visit the Twitter account for {{.Site.Title}}">
			{{ partial "svg_icons/twitter-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{if .Site.Params.Facebook }}
	<li>
		<a href="{{.Site.Params.Facebook}}" target="_blank" title="Visit the Facebook page for {{.Site.Title}}">
			{{ partial "svg_icons/facebook-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{if .Site.Params.Instagram }}
	<li>
		<a href="{{.Site.Params.Instagram}}" target="_blank" title="Visit the Instagram account for {{.Site.Title}}">
			{{ partial "svg_icons/instagram-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{ if .Site.Params.Linkedin }}
	<li>
		<a href="{{.Site.Params.LinkedIn}}" target="_blank" title="Vist the LinkedIn account for {{.Site.Title}}">
	{{ partial "svg_icons/linkedin-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{ if .Site.Params.Pinterest }}
	<li>
		<a href="{{.Site.Params.Pinterest}}" target="_blank" title="Vist the Pinterest account for {{.Site.Title}}">
			{{ partial "svg_icons/pinterest-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{ if .Site.Params.GooglePlus }}
	<li>
		<a href="{{.Site.Params.GooglePlus}}" target="_blank" title="Visit the Google Plus account for {{.Site.Title}}">
			{{ partial "svg_icons/googleplus-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{ if .Site.Params.Tumblr }}
	<li>
		<a href="{{.Site.Params.Tumblr}}" target="_blank" title="Visit the Tumblr account for {{.Site.Title}}">
			{{ partial "svg_icons/tumblr-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
	{{ if .Site.Params.GitHub }}
	<li>
		<a href="{{.Site.Params.GitHub}}" target="_blank" title="Visit the GitHub account for {{.Site.Title}}">
			{{ partial "svg_icons/github-square-icon.svg"}}
		</a>
	</li>
	{{ end }}
</ul>