<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "global_head/metadata.html" . }}
	{{ partial "global_head/favicons.html" . }}
	<!-- site_style can be configured for critical render path using your config.toml file. For more details, see partials/global_head/site_style.html -->
	{{ partial "global_head/site_style.html" . }}
	<!-- If you would like to include jQuery in your site, you can set this in your config.toml file. The default value is "true." If you want to use jQuery strictly for switching classes, a classlist.js is already added to your assets/js/modules and is concat/min/uglified as part of your gulp build.-->
	{{ if .Site.Params.IncludeJQ }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	{{ end }}
</head>
<body>
<header id="site-header">
	<a href="/" id="home-button">Home</a>
	{{ partial "global_head/global_navigation.html" . }}
	{{ partial "global_head/site_search_form.html" . }}       
</header>