{{ partial "site_head.html" . }}
<!-- STARTER LIST PAGE for tags taxonomy. -->
<main class="main">
	<article>
	<header>
		<a href="/tags/" title="See all site content by tag."><i class="fa fa-tags"></i> See all tags</a>
		<h1>Tagged with "{{ .Title }}"</h1>
	</header>
	<ul>
	   Sorts pages by .PublishDate, with the most recent publish first. 
	    {{ range sort .Data.Pages "PublishDate" "desc" }}
	        <li><a href="{{.Permalink}}"><h1>{{ .Title }}</h1><time>{{ .PublishDate.Format "January 2, 2006" }}</time></a><p>{{ .Description }}</p></li>
	    {{ end }}
	</ul>
	</article>
</main>

{{ partial "site_footer.html" . }}